BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 100
SortIncludes: true
IncludeBlocks: Preserve
PointerAlignment: Left
SpacesInParentheses: false
SpaceAfterCStyleCast: true
Cpp11BracedListStyle: true
IndentCaseLabels: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
ReflowComments: true