name: Build Project

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libglfw3 libglfw3-dev libgtest-dev libgmock-dev libfreetype6 libfreetype6-dev libglew-dev doxygen
      
      - name: Install xvfb dependencies
        run: sudo apt-get install -y xorg xvfb xfonts-100dpi xfonts-75dpi xfonts-scalable xfonts-cyrillic

      - name: Configure
        run: cmake -DCMAKE_BUILD_TYPE=Debug -DBUILD_SHARED_LIBS=ON -DBUILD_TESTING=ON -DBUILD_DOCS=OFF -B build

      - name: Build
        run: cmake --build build --config Debug --parallel 4

      - name: Configure-Docs
        run: cmake -DCMAKE_BUILD_TYPE=Debug -DBUILD_SHARED_LIBS=ON -DBUILD_TESTING=ON -DBUILD_DOCS=ON -B build

      - name: Build-Docs
        run: cmake --build build --config Debug --parallel 4

      - name: Tests
        run: xvfb-run ctest --test-dir build --output-on-failure